// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.navbar {
    height: 80px;
    background-color: white;
    opacity: .8;
}

.navbar-brand {
    padding-top: 10px;
    font-family: "proxima-nova";
}

#navbar {
    padding-top: 17px;
}

#content {
    padding-top: 100px;
}

body {
    background-color: #EBE0D6;
    padding-bottom: 100px;
    background-image: url("../img/center_ridge.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.jumbotron {
    background-color: white;
    opacity: .9;
}

#prof-pic {
    opacity: 1;
    border-radius: 20px;
}

a {
    color: #669999;
}

a:hover {
    color: #DEC3C3;
    text-decoration: line-through;
}

// a:active {
//     text-decoration: line-through;
// }

#about, #contact, #projects, #reading {
    color: black;
}

#name, .jumbotron {
    text-align: center;
    font-family: "proxima-nova";
    letter-spacing: 20px;
    font-style: italic;
    font-weight: 300;
    font-size: 54px;
    line-height: 1.6em;
}

/** About Page */
#about-content {
    background-color: white;
    opacity: .9;
    border-radius: 20px;
    padding: 30px;
    font-family: "proxima-nova";
}

#tech-skills-row {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.logos {
    padding-bottom: 5%;
}

.resume-link {
    text-align: center;
    font-family: "proxima-nova";
    letter-spacing: 10px;
    font-weight: 300;
    font-size: 20px;
}
