// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.navbar {
    height: 80px;
    background-color: white;
    opacity: .8;
}

.navbar-brand {
    padding-top: 10px;
    font-family: "proxima-nova";
}

.navbar-collapse.collapsing, .navbar-collapse.collapse.in {
    float: right;
    background-color: #FFF0E0;
    text-align: center;
    opacity: .93;
    border-radius: 10px;
    border-style: solid;
}

#navbar-button {
    margin-top: 25px;
}

#navbar {
    padding-top: 17px;
}

#content {
    padding-top: 100px;
}

body {
    background-color: #EBE0D6;
    padding-bottom: 100px;
    background-image: url("../img/center_ridge.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "proxima-nova";
}

.jumbotron {
    background-color: white;
    opacity: .93;
}

#prof-pic {
    opacity: 1;
    border-radius: 20px;
}

a {
    color: black;
    font-family: "Lato";
}

a:hover {
    font-weight: bold;
    font-style: oblique;
    text-decoration: none;
}

.menu-links:hover {
    border-bottom: solid;
}

#about, #projects {
    color: black;
}

#name, .jumbotron {
    text-align: center;
    font-family: "proxima-nova";
    letter-spacing: 20px;
    font-style: italic;
    font-weight: 300;
    font-size: 54px;
    line-height: 1.6em;
}

/** About Page */
#about-content, #contact-content, #projects-index-content {
    margin-left: 25%;
    margin-right: 25%;
    background-color: white;
    opacity: .93;
    border-radius: 20px;
    padding: 30px;
    font-family: "Lato";
}

#tech-skills-row {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    font-family: "Lato";
}

.logos {
    // padding-bottom: 5%;
}

/* Custom Logo Sizing */
#php-img, #ajax-img, #laravel-img {
    margin-top: 15%;
    margin-bottom: 15%;
}

.resume-link {
    text-align: center;
    font-family: "proxima-nova";
    letter-spacing: 10px;
    font-weight: 300;
    font-size: 20px;
}

#resume-img {
    border-radius: 10px;
    opacity: .93;
}

/** Contact Page */
// .social {
//     margin-left: 15%;
//     margin-right: 15%;
// }

#contact-content {
    text-align: center;
}

.contact-imgs {
    margin-left: 5%;
    margin-right: 5%;
    width: 20%;
    display: inline-block;
}

// .email {
//     text-align: center;
//     font-family: "Lato";
// }

/** Projects Page */
.project-links {
    // margin-left: 25px;
}

.projects {
    text-align: center;
}

/** Adventures Page */
.modal {
    position: fixed;
    // padding-top: 80px;
    // margin-left: 40%;
}

.modal-buttons {
    background-color: gray;
}

#adventures-content {
    background-color: white;
    opacity: .93;
    border-radius: 20px;
    padding: 30px;
    font-family: "Lato";
}

/* ------------ Mobile sizing ------------ */
@media screen and (max-width: 400px) {
    .jumbotron {
        margin-left: 15px;
        margin-right: 15px;
    }

    #about-content {
        margin-left: 5%;
        margin-right: 5%;
    }

    // #resume-img {
    //     margin-left: 0%;
    //     margin-right: 0%;
    // }

    #contact-content {
        // display: block;
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
    }

    .contact-imgs {
        width: 25%;
        display: inline-block;
        margin-left: 0%;
        // margin-right: 45%;
    }

    .social {
        // margin-left: 25%;
        // margin-right: 25%;
    }

    #instagram {
        margin-left: 6%;
        margin-top: 10%;
    }

    .project-links {
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media screen and (min-width: 401px) and (max-width: 768px) {
    .jumbotron {
        margin-left: 15px;
        margin-right: 15px;
    }

    #contact-content {
        margin-left: 5%;
        margin-right: 5%;
    }

    .social-col {
        display: inline-block;
        margin-left: 2%;
        margin-right: 2%;
    }

    .social {
        margin-left: 0;
    }
}
